# Ignora as pastas do Quartus em QUALQUER nível de pasta do projeto
db/
incremental_db/
output_files/
simulation/
work/

# Ignora arquivos temporários por extensão em QUALQUER nível
*.bak
*.rpt
*.qws
*.flock